.info-card {
    background: #fff;
    overflow: hidden;
    padding: 30px 30px;
    margin-bottom: 30px;
    box-shadow: 0px 7px 13.5px 1.5px rgb(0 0 0 / 5%);
    text-align: center;
}

.card-icon {
    float: left;
    height: 90px;
    width: 90px;
    line-height: 90px;
    background: #f8f8f8;
    text-align: center;
    border-radius: 50%;
}