.form-container {
    background: url("../../../public/Gallery/Photos/bookbg.png");
    background-size:contain;
    color: black;
    padding: 4rem;
    font-weight: bolder !important;
}

.input-black {
    color: black !important;
    border: unset !important;
    background: rgba(22, 11, 11, 0.2) !important;
}

.option-black {
    color: black !important;
    border: unset !important;
    background: rgb(0, 0, 0);
}

.input-black::placeholder {
    color: back !important;
}