.root {
    background: transparent url(../../../public/blueBackground.jpg) center center/cover no-repeat scroll;
    padding: 5rem;
    color: white;
}

.content {
    margin-bottom: 1rem;
}

.img-white {
    margin: 1rem 0 0.5rem 0;
    filter: brightness(0) invert(1);
}